In [16]:
import csv
reslut = []
with open('/product_list.csv', 'r', encoding='euc-kr') as f:
    reader = csv.reader(f)
    for line in reader:
        reslut.append(line)
        print(line)

['ID', '상품명', '가격']
['1', '모자', '15000']
['2', '코트', '200000']
['3', '티셔츠', '20000']
['4', '블라우스', '55000']
['5', '가디건', '45000']
['6', '청바지', '50000']
['7', '구두', '150000']
['8', '가방', '170000']
['9', '양말', '5000']
['10', ' 운동화', '8000']
['11', '슬리퍼', '3000']

In [13]:
#csv 파일 수정 1
with open('/product_list.csv', 'w', encoding= 'euc-kr', newline= '') as f:
    writer = csv.writer(f)
    writer.writerows(reslut)               # 이전 레코드
    writer.writerow(['10', ' 운동화', '8000']) # 신규 레코드

In [15]:
#csv 파일 수정 2
reslut.append(['11', '슬리퍼', '3000'])

with open('/product_list.csv', 'w', encoding= 'euc-kr', newline= '') as f:
    writer = csv.writer(f)
    writer.writerows(reslut)

In [3]:
import sqlite3

In [18]:
sqlite3.version

'2.6.0'

In [24]:
conn = sqlite3.connect('test.db')

In [25]:
# 커서 생성
c = conn.cursor()

In [27]:
# 쿼리문 작성
query = '''CREATE TABLE test (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER)'''
c.execute(query)

In [28]:
conn.close()

In [4]:
import sqlite3
import pandas as pd

In [30]:
# 데이터 베이스 연결
conn = sqlite3.connect('/chadwick.db')

In [31]:
# 커서 생성
c = conn.cursor()

In [33]:
# 전체 테이블 조회
c.execute('''SELECT * FROM sqlite_master WHERE type= "table"''')

In [34]:
pd.DataFrame(c.fetchall())

,0,1,2,3,4
0,table,AllstarFull,AllstarFull,2,"CREATE TABLE ""AllstarFull"" (\n""playerID"" TEXT,..."
1,table,Appearances,Appearances,59,"CREATE TABLE ""Appearances"" (\n""yearID"" INTEGER..."
2,table,AwardsManagers,AwardsManagers,1379,"CREATE TABLE ""AwardsManagers"" (\n""playerID"" TE..."
3,table,AwardsPlayers,AwardsPlayers,1383,"CREATE TABLE ""AwardsPlayers"" (\n""playerID"" TEX..."
4,table,AwardsShareManagers,AwardsShareManagers,1451,"CREATE TABLE ""AwardsShareManagers"" (\n""awardID..."
5,table,AwardsSharePlayers,AwardsSharePlayers,1458,"CREATE TABLE ""AwardsSharePlayers"" (\n""awardID""..."
6,table,Batting,Batting,1517,"CREATE TABLE ""Batting"" (\n""playerID"" TEXT,\n ..."
7,table,BattingPost,BattingPost,2918,"CREATE TABLE ""BattingPost"" (\n""yearID"" INTEGER..."
8,table,CollegePlaying,CollegePlaying,3103,"CREATE TABLE ""CollegePlaying"" (\n""playerID"" TE..."
9,table,Fielding,Fielding,3221,"CREATE TABLE ""Fielding"" (\n""playerID"" TEXT,\n ..."
10,table,FieldingOF,FieldingOF,4911,"CREATE TABLE ""FieldingOF"" (\n""playerID"" TEXT,\..."
11,table,FieldingOFsplit,FieldingOFsplit,4984,"CREATE TABLE ""FieldingOFsplit"" (\n""playerID"" T..."
12,table,FieldingPost,FieldingPost,5372,"CREATE TABLE ""FieldingPost"" (\n""playerID"" TEXT..."
13,table,HallOfFame,HallOfFame,5536,"CREATE TABLE ""HallOfFame"" (\n""playerID"" TEXT,\..."
14,table,HomeGames,HomeGames,5582,"CREATE TABLE ""HomeGames"" (\n""year.key"" INTEGER..."
15,table,Managers,Managers,5625,"CREATE TABLE ""Managers"" (\n""playerID"" TEXT,\n ..."
16,table,ManagersHalf,ManagersHalf,5659,"CREATE TABLE ""ManagersHalf"" (\n""playerID"" TEXT..."
17,table,Parks,Parks,5660,"CREATE TABLE ""Parks"" (\n""park.key"" TEXT,\n ""p..."
18,table,People,People,5665,"CREATE TABLE ""People"" (\n""playerID"" TEXT,\n ""..."
19,table,Pitching,Pitching,6325,"CREATE TABLE ""Pitching"" (\n""playerID"" TEXT,\n ..."
20,table,PitchingPost,PitchingPost,7299,"CREATE TABLE ""PitchingPost"" (\n""playerID"" TEXT..."
21,table,Salaries,Salaries,7405,"CREATE TABLE ""Salaries"" (\n""yearID"" INTEGER,\n..."
22,table,Schools,Schools,7603,"CREATE TABLE ""Schools"" (\n""schoolID"" TEXT,\n ..."
23,table,SeriesPost,SeriesPost,7621,"CREATE TABLE ""SeriesPost"" (\n""yearID"" INTEGER,..."
24,table,Teams,Teams,7625,"CREATE TABLE ""Teams"" (\n""yearID"" INTEGER,\n ""..."
25,table,TeamsFranchises,TeamsFranchises,7752,"CREATE TABLE ""TeamsFranchises"" (\n""franchID"" T..."
26,table,TeamsHalf,TeamsHalf,7753,"CREATE TABLE ""TeamsHalf"" (\n""yearID"" INTEGER,\..."

# 데이터 조회

In [47]:
c.execute('''SELECT * FROM Parks''')

In [37]:
# 전체 데이터
pd.DataFrame(c.fetchall())

,0,1,2,3,4,5
0,ALB01,Riverside Park,None,Albany,NY,US
1,ALT01,Columbia Park,None,Altoona,PA,US
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,US
3,ARL01,Arlington Stadium,None,Arlington,TX,US
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,US
...,...,...,...,...,...,...
250,WIL02,BB&T Ballpark at Bowman Field,None,Williamsport,PA,US
251,WNY01,West New York Field Club Grounds,None,West New York,NJ,US
252,WOR01,Agricultural County Fair Grounds I,None,Worcester,MA,US
253,WOR02,Agricultural County Fair Grounds II,None,Worcester,MA,US
254,WOR03,Worcester Driving Park Grounds,None,Worcester,MA,US

In [46]:
# 하나 데이터
pd.DataFrame(c.fetchone())

                0
0           ALB01
1  Riverside Park
2            None
3          Albany
4              NY
5              US

In [48]:
# 범위 데이터
pd.DataFrame(c.fetchmany(size= 3))

,0,1,2,3,4,5
0,ALB01,Riverside Park,None,Albany,NY,US
1,ALT01,Columbia Park,None,Altoona,PA,US
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,US

In [50]:
# 칼럼 키 확인
cur = c.execute('''SELECT * FROM Parks''')
cur.description

(('park.key', None, None, None, None, None, None),
 ('park.name', None, None, None, None, None, None),
 ('park.alias', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('state', None, None, None, None, None, None),
 ('country', None, None, None, None, None, None))

In [52]:
# 특정 row만 가져오기
c.execute('''SELECT * FROM Parks WHERE state = ?''', ('NY',))
pd.DataFrame(c.fetchall())

,0,1,2,3,4,5
0,ALB01,Riverside Park,None,Albany,NY,US
1,BUF01,Riverside Grounds,None,Buffalo,NY,US
2,BUF02,Olympic Park I,None,Buffalo,NY,US
3,BUF03,Olympic Park II,None,Buffalo,NY,US
4,BUF04,International Fair Association Grounds,Federal League Park,Buffalo,NY,US
5,ELM01,Maple Avenue Driving Park,None,Elmira,NY,US
6,IRO01,Windsor Beach,None,Irondequoit,NY,US
7,MAS01,Long Island Grounds,None,Maspeth,NY,US
8,NYC01,Union Grounds,None,Brooklyn,NY,US
9,NYC02,Capitoline Grounds,None,Brooklyn,NY,US
10,NYC03,Polo Grounds I (Southeast Diamond),None,New York,NY,US
11,NYC04,Polo Grounds II (Southwest Diamond),None,New York,NY,US
12,NYC05,Washington Park I,None,Brooklyn,NY,US
13,NYC06,Metropolitan Park,None,New York,NY,US
14,NYC07,Grauer's Ridgewood Park,Ridgewood Park I,Queens,NY,US
15,NYC08,Washington Park II,None,Brooklyn,NY,US
16,NYC09,Polo Grounds III,None,New York,NY,US
17,NYC10,Polo Grounds IV,None,New York,NY,US
18,NYC11,Eastern Park,None,Brooklyn,NY,US
19,NYC12,Washington Park III,None,Brooklyn,NY,US
20,NYC13,Hilltop Park,None,New York,NY,US
21,NYC14,Polo Grounds V,None,New York,NY,US
22,NYC15,Ebbets Field,None,Brooklyn,NY,US
23,NYC16,Yankee Stadium I,None,New York,NY,US
24,NYC17,Shea Stadium,William A. Shea Stadium,New York,NY,US
25,NYC18,Wallace's Ridgewood Park,Ridgewood Park II,Queens,NY,US
26,NYC19,Washington Park IV,None,Brooklyn,NY,US
27,NYC20,Citi Field,None,New York,NY,US
28,NYC21,Yankee Stadium II,None,New York,NY,US
29,ROC01,Culver Field I,None,Rochester,NY,US
30,ROC02,Culver Field II,None,Rochester,NY,US
31,ROC03,Ontario Beach Grounds,None,Rochester,NY,US
32,SAI01,St. George Cricket Grounds,None,New York,NY,US
33,SYR01,Star Park I,Newell Park,Syracuse,NY,US
34,SYR02,Star Park II,None,Syracuse,NY,US
35,SYR03,Iron Pier,None,Syracuse,NY,US
36,THR01,Three Rivers Park,None,Three Rivers,NY,US
37,TRO01,Haymakers' Grounds,None,Troy,NY,US
38,TRO02,Putnam Grounds,None,Troy,NY,US
39,WAT01,Troy Ball Club Grounds,None,Watervliet,NY,US

# 데이터 삽입

In [5]:
conn = sqlite3.connect('/test.db')

In [6]:
c = conn.cursor()

In [79]:
query = '''CREATE TABLE test(ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER)'''
c.execute(query)

In [9]:
c.execute('''SELECT * FROM sqlite_master WHERE type= "table"''')
print(c.fetchall())

[('table', 'test', 'test', 2, 'CREATE TABLE test(ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER)')]

In [10]:
# 데이터 삽입 키 순서를 알고 있을때
c.execute("INSERT INTO test VALUES(1, '모자', 15000)")
conn.commit()

In [14]:
# 순서를 모르는 경우
c.execute("INSERT INTO test(PRODUCT_NAME, PRICE, ID) VALUES(?,?,?)", ('티셔츠', 20000, 3))
conn.commit()

In [80]:
# 여러 데이터 삽입
product_list = [[1, '모자', 12000], [2, '코트', 200000], [3, '티셔츠', 15000], [4, '구두', 30000]]
c.executemany("INSERT INTO test(ID, PRODUCT_NAME, PRICE) VALUES(?,?,?)", product_list)
conn.commit()

# 데이터 수정

In [25]:
# 튜플 형태로 수정
c.execute("UPDATE test SET PRODUCT_NAME = ? WHERE ID =?", ('슬랙스', 4))
conn.commit()

In [37]:
# 딕셔너리 형태로 수정
c.execute("UPDATE test SET PRICE = :price WHERE ID = :id", {"price":55000, "id":1})
conn.commit()

In [40]:
# %s 표시자 사용
c.execute("UPDATE test SET PRODUCT_NAME = '%s' WHERE ID ='%s'" %('트랜티코트', 2))
conn.commit()

# 데이터 삭제

In [ ]:
# 테이블 내용 삭제
c.execute('DELETE From test')
conn.commit()

In [42]:
# 튜플 형태로 삭제 삭제
c.execute('DELETE From test WHERE ID =?', (3, ))
conn.commit()

In [44]:
# 딕셔너리 형태로 삭제
c.execute("DELETE from test WHERE PRODUCT_NAME = :product_name", {"product_name":'슬랙스'})
conn.commit()

# 데이터 백업하기

In [81]:
for line in conn.iterdump():
  print(line)

BEGIN TRANSACTION;
CREATE TABLE test(ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER);
INSERT INTO "test" VALUES(1,'모자',12000);
INSERT INTO "test" VALUES(2,'코트',200000);
INSERT INTO "test" VALUES(3,'티셔츠',15000);
INSERT INTO "test" VALUES(4,'구두',30000);
COMMIT;

In [82]:
# 백업파일 생성
with conn:
  with open('backup sql', 'w') as f:
    for line in conn.iterdump():
      f.write('%s\n' % line)
    print('completed')

completed

In [83]:
# 테이블 삭제
c.execute('drop table test')
conn.commit()

In [84]:
# 백업 sql 파일 로딩
with open('backup sql', 'r') as sql_file:
  sql_script = sql_file.read()

In [85]:
sql_script

'BEGIN TRANSACTION;\nCREATE TABLE test(ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER);\nINSERT INTO "test" VALUES(1,\'모자\',12000);\nINSERT INTO "test" VALUES(2,\'코트\',200000);\nINSERT INTO "test" VALUES(3,\'티셔츠\',15000);\nINSERT INTO "test" VALUES(4,\'구두\',30000);\nCOMMIT;\n'

In [86]:
#sql 스크랩트 실행
c.executescript(sql_script)
conn.commit()

In [87]:
c.execute('''SELECT * from test''')
pd.DataFrame(c.fetchall())

   0    1       2
0  1   모자   12000
1  2   코트  200000
2  3  티셔츠   15000
3  4   구두   30000

In [88]:
conn.close()