In [2]:
import sqlite3
conn = sqlite3.connect('shopping_mall.db')
c = conn.cursor()

In [3]:
import pandas as pd

product_list = pd.read_csv('/content/product_list.csv', encoding= 'euc-kr')
print(product_list)

   ID   상품명      가격
0   1    모자   15000
1   2    코트  200000
2   3   티셔츠   20000
3   4  블라우스   55000
4   5   가디건   45000
5   6   청바지   50000
6   7    구두  150000
7   8    가방  170000
8   9    양말    5000

In [4]:
product_list.to_sql('productList', conn, if_exists= 'append', index= False)

9

In [5]:
c.execute('select * from productList')
pd.DataFrame(c.fetchall())

   0     1       2
0  1    모자   15000
1  2    코트  200000
2  3   티셔츠   20000
3  4  블라우스   55000
4  5   가디건   45000
5  6   청바지   50000
6  7    구두  150000
7  8    가방  170000
8  9    양말    5000

In [8]:
c.execute('create table if not exists orderList(id integer primary key autoincrement, 상품명 text, 개수 integer, 가격 integer, 총합 integer)')
conn.commit

In [11]:
c.execute('select * from sqlite_master where type= "table"')
pd.DataFrame(c.fetchall())

,0,1,2,3,4
0,table,productList,productList,2,"CREATE TABLE ""productList"" (\n""ID"" INTEGER,\n ..."
1,table,orderList,orderList,3,CREATE TABLE orderList(id integer primary key ...
2,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"

In [23]:
c.execute('select * from orderList')
pd.DataFrame(c.fetchall())

Empty DataFrame
Columns: []
Index: []

In [25]:
while True:
  print('---------------------상품목록---------------------')
  for row in c.execute('select id, 상품명, 가격 from productList'):
    print('상품번호 :', row[0], '상품명 :', row[1], '가격 :', row[2])
  print('------------------------------------------------')

  print('')
  num = input('구매하실 상품의 번호를 입력해주세요 :')
  c.execute('select 상품명, 가격 from productList where id= ?', (num))
  result = c.fetchone()

  print('')
  count = int(input('구매할 수량을 입력해주세요 :'))
  total = count * int(result[1])

  c.execute('insert into orderList (상품명, 개수, 가격, 총합) values (?,?,?,?)', (result[0], count, result[1], total))

  print('')
  print('현재까지 구매한 내역 보기')
  print('---------------------주문목록---------------------')
  for row in c.execute('select * from orderList'):
    print('상품명 :', row[1], '주문수량 :', row[2], '단가 :', row[3], '구매가격 :', row[4])
  print('------------------------------------------------')

  print('')
  print('상품을 추가 구매하시겠습니까?\n중단하려면 "x"를 눌러주세요 \n계속 하시려면 엔터키를 눌러주세요. ')
  if(input()=='x'):
    break

print('총 구매가격', end='')

for row in c.execute('select sum(총합) from orderList'):
  print(' : ', row[0], '원')
print('')

c.execute('delete from orderList')
conn.close()

---------------------상품목록---------------------
상품번호 : 1 상품명 : 모자 가격 : 15000
상품번호 : 2 상품명 : 코트 가격 : 200000
상품번호 : 3 상품명 : 티셔츠 가격 : 20000
상품번호 : 4 상품명 : 블라우스 가격 : 55000
상품번호 : 5 상품명 : 가디건 가격 : 45000
상품번호 : 6 상품명 : 청바지 가격 : 50000
상품번호 : 7 상품명 : 구두 가격 : 150000
상품번호 : 8 상품명 : 가방 가격 : 170000
상품번호 : 9 상품명 : 양말 가격 : 5000
------------------------------------------------

구매하실 상품의 번호를 입력해주세요 :7

구매할 수량을 입력해주세요 :1

현재까지 구매한 내역 보기
---------------------주문목록---------------------
상품명 : 구두 주문수량 : 1 단가 : 150000 구매가격 : 150000
------------------------------------------------

상품을 추가 구매하시겠습니까?
중단하려면 "x"를 눌러주세요
계속 하시려면 엔터키를 눌러주세요.

---------------------상품목록---------------------
상품번호 : 1 상품명 : 모자 가격 : 15000
상품번호 : 2 상품명 : 코트 가격 : 200000
상품번호 : 3 상품명 : 티셔츠 가격 : 20000
상품번호 : 4 상품명 : 블라우스 가격 : 55000
상품번호 : 5 상품명 : 가디건 가격 : 45000
상품번호 : 6 상품명 : 청바지 가격 : 50000
상품번호 : 7 상품명 : 구두 가격 : 150000
상품번호 : 8 상품명 : 가방 가격 : 170000
상품번호 : 9 상품명 : 양말 가격 : 5000
------------------------------------------------

구매하실 상품의 번호를 입력해주세요 :5

구매할 수량을 입력해주세요 :2

현재까지 구매한 내역 보기
---------------------주문목록---------------------
상품명 : 구두 주문수량 : 1 단가 : 150000 구매가격 : 150000
상품명 : 가디건 주문수량 : 2 단가 : 45000 구매가격 : 90000
------------------------------------------------

상품을 추가 구매하시겠습니까?
중단하려면 "x"를 눌러주세요
계속 하시려면 엔터키를 눌러주세요.
x
총 구매가격 :  240000 원